html, body {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  font-family: sans-serif;
  color: #6119c6;
}

.centeredContainer {
  display: flex;
  /*display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.largeHeader {
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.subHeader {
  font-size: 20px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
}

.errorMsg {
  color: #FF7777;
  font-size: 22px;
  text-align: center;
}

.textCenter {
  font-size: 25px;
    text-align: center;
}