 .quoteContainer {
    composes: centeredContainer from 'sharedStyles/styles.css';
} 

.quoteContent {
    composes: textCenter from 'sharedStyles/styles.css';
}

.quoteAuthor {
    margin-left: auto;
    text-align: right;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}