.quoteContainer {
  /*composes: centeredContainer from 'sharedStyles/styles.css';*/
}

.buttonContainer {
    display: flex;
    /*align-self: space-between;*/
}

.quoteButton {
    margin-left: auto;
    background: #3B5998;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border-width: 0;
    font-size: 25px;
    cursor: pointer;
}

.quoteButton:hover:enabled {
    background:
        linear-gradient(#1a1a1a,#0a0a0a);
    color: #fff;
    text-decoration: none;
}

.quoteButton:active {
    transform: translateY(1px);
}

.twitterButton {
    margin-right: auto;
    background: #3B5998;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border-width: 0;
    font-size: 25px;
    cursor: pointer;
}

.twitterButton:hover:enabled {
    background:
        linear-gradient(#1a1a1a,#0a0a0a);
    color: #fff;
    text-decoration: none;
}

.twitterButton:active {
    transform: translateY(1px);
}